{% extends 'main.html' %}
{% load static %}
{% block content %}

<div id="content">
   <h1>Дискусы, сайт о дискусах, все на личном опыте</h1>
   <!--Это блок  с Основным содержанием-->
   <div class="txt-t"></div>
   <div class="txt">
      Специально по просьбе Николая Александровича. Обо мне: Роман, аквариум с дискусами. Запуск с малька 3 мес. Несколько групп в социалках:
      <p>
         <b>vkontakte: Tatarin Йошкар-Ола</b><br />
         <noindex><a href="http://vk.com/romanoffline"><img alt="дискусы в контакте" border="0" src="{% static 'images/vkontakte-32x32.png' %}" /></a></noindex>
      </p>
      <p>
         <b>Мой Мир на mail.ru: discus12.RU</b><br />
         <noindex><a href="http://my.mail.ru/mail/discus12/"><img alt="дискусы мой мир" border="0" src="{% static 'images/mailru-share-26.png' %}" /></a></noindex>
      </p>
      <p>
         <b>Анкета на facebook.com</b><br />
         <noindex><a href="http://ru-ru.facebook.com/people/Discusru-Discus/100002075041171"><img alt="дискусы в фейсбуке" border="0" longdesc="http://ru-ru.facebook.com/people/Discusru-Discus/100002075041171" src="{% static 'images/facebook_icon_00026.png' %}" /></a></noindex>
      </p>
      <p>
         <b>Видео на youtube.com</b><br />
         <noindex><a href="http://www.youtube.com/user/discus12RU"><img alt="дискусы видео" border="0" height="39" src="{% static 'images/Youtube-256.png' %}" width="39" /></a></noindex>
      </p>
      <p></p>
      <p>Данный сайт не является никаким пособием для содержания дискусов. Просто я описал мой опыт с дискусами, старался охватить все моменты. Может кому то, будет полезно, выпишет некоторые моменты на заметку. Кто не согласен с теми или иными статьями, пунктами, пишите не форум обсудим. Может у кого то проснулся талант к написанию статей, без проблем, обращайтесь выставлю и вашу статью, конечно 100 % только ваш личный текст, никакого плагиата.</p>
   </div>
   <div class="txt-b"></div>
   <!--//Это блок  с Основным содержанием-->
</div>

{% endblock %}