{% extends 'main.html' %}
{% load static %}

{% block content %}

    <div id="content">
        <h1>Карта сайта</h1>
        <!--Это блок  с Основным содержанием-->
        <div class="txt-t"></div>
        <div class="txt">
            <div align="justify">
                <!--Основное содержание-->
                <div class="numberlist">
                    <p>
                    <ol>
                        <a href="http://discus12.ru/statja/aqua.html">1. Как сделать аквариум своими руками.</a>
                        <a href="http://discus12.ru/statja/aquastart.html">2. Первый запуск аквариума. аквариум для дискусов.</a>
                        <a href="http://discus12.ru/statja/fishpurhase.html">3. Как купить дискусов в России.</a>
                        <a href="http://discus12.ru/statja/kormchasto.html">4. Как часто давать корм для дискусов.</a>
                        <a href="http://discus12.ru/statja/farsh.html">5. Рецепт. фарш для рыбы.</a>
                        <a href="http://discus12.ru/statja/areolob.html">6. Дискусы в дикой природе. разведение дискусов в Европе.</a>
                        <a href="http://discus12.ru/statja/online_shop.html">7. Покупки в иностранных интернет магазинах, аквариум с дискусами.</a>
                        <a href="http://discus12.ru/statja/socrash.html">8. Сокращения в обозначении дискусов.</a>
                        <a href="http://discus12.ru/statja/tremazol.html">9. Лечение: жаберный сосальщик.</a>
                        <a href="http://discus12.ru/statja/tumba.html">10. Тумба из ЛДСП 26 мм своими руками.</a>
                        <a href="http://discus12.ru/statja/uskneres.html">11. Ускорение нереста Дискусов.</a>
                        <a href="http://discus12.ru/statja/vibor.html">12. Несколько советов. Правильный выбор дискусов.</a>
                        <a href="http://discus12.ru/statja/wild-discus.html">13. Ловля диких дискусов.</a>
                        <a href="http://discus12.ru/statja/Diskusov-dlja-Novichkov.html">14. Содержание Дискусов для
                            Новичков.</a>
                    </ol>
                </div>
                </p>
            </div>
        </div>
        <div class="txt-b"></div>
        <!--//Это блок  с Основным содержанием-->
    </div>

{% endblock %}