{% extends 'main.html' %}
{% load static %}
{% block content %}

<div id="content">
   <h1>Дискусы - короли аквариума</h1>
   <div class="txt-t"></div>
   <div class="txt">
      <div align="justify">
         <!--Основное содержание--><span class="style4"><strong>Дискусы</strong> в дикой природе обитают во многих притоках и озерах реки Амазонка в Южной Америке. Речная система находится в четырех странах в Венесуэле, Колумбии, Бразилии и Перу, это самый крупный водный бассейн в мире. </span>
      </div>
      <p align="justify" class="style4">
         Во время сезона дождей, который начинается в декабре, в этом регионе выпадает большое количество осадков. К весне наступает подъем уровня рек что приводит к их разливу. Это позволяет разным видам дискусов скрещиваться и размножаться. В сухой сезон, который заканчивается в октябре / ноябре, реки отступают до такой степени, что образуются мелкие озера. Наступает лучшее время года для отлова диких дискусов. Вид дискус был впервые описан в 1840 году австрийским ихтиологом Johann Jacob Heckel. Однако рыба была ввезена в Европу и США только спустя 100 лет. <!--//Основное содержание-->
      </p>
      <p align="justify" class="style4">
         В СССР <strong>дискусы</strong> были завезены в 1962 году, с тех пор получили большое признание среди наших аквариумистов за свою красоту и по настоящему королевскую грацию. Хоть и бытует мнение, что содержание и разведение Дискусов в домашних условиях, считается высшим пилотажем аквариумистики, так как рыба требует повышенного внимания к условиям содержания и параметрам воды в аквариуме. На самом деле в настоящее время аквариумисты справились со всеми проблемами содержания дискусов в своих аквариумах. <!--//Основное содержание-->
      </p>
   </div>
   <div class="txt-b"></div>
</div>

{% endblock %}